.body {
  margin: 0;
}

li {
  list-style: none;
}

input {
  background: none;
  border: none;
}

#offlineBtn {
  background-image: url(./icon/homePage/offlineBtn.png);
  background-size: cover;
  width: 240px;
  height: 72px;
}

#onlineBtn {
  background-image: url(./icon/homePage/onlineBtn.png);
  background-size: cover;
  width: 240px;
  height: 72px;
}

.modal {
  width: 500px;
}

#betting {
}

#betting-text {
  width: 500px;
  background-color: #f4f4f4;
}

#coin {
  width: 500px;
  background-color: #ffefd0;
}

#minus {
  background-color: pink;
  width: 50px;
  height: 50px;
}

#plus {
  background-color: skyblue;
  width: 50px;
  height: 50px;
}

#invitation {
}

#invitation-text {
  width: 500px;
  background-color: #f4f4f4;
}

#create-code {
  background-color: #fce444;
}

#enter-code {
}

#start {
  background-color: #fce444;
}
