.body {
  
  margin: 0;
}

li {
  list-style: none;
}

input {
  background: none;
  border: none;
}

#myinput {
  border: 2px solid blue;
}

#container {
  display: flex;
}
#offlineBtn {
  background-image: url(./icon/homePage/offlineBtn.png);
  background-size: cover;
  width: 240px;
  height: 72px;
}

#onlineBtn {
  background-image: url(./icon/homePage/onlineBtn.png);
  background-size: cover;
  width: 240px;
  height: 72px;
}

#modalBtn {
  border: 2px solid red;
}