.body {
  
  margin: 0;
}

li {
  list-style: none;
}

input {
  background: none;
  border: none;
}

#myinput {
  border: 2px solid blue;
}

#container {
  display: flex;
}
#offlineBtn {
  background-image: url(./icon/homePage/offlineBtn.png);
  background-size: cover;
  width: 240px;
  height: 72px;
}

#onlineBtn {
  background-image: url(./icon/homePage/onlineBtn.png);
  background-size: cover;
  width: 240px;
  height: 72px;
}

#modalBtn {
  border: 2px solid red;
}
#list_room {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px; /* Adjust the width as needed */
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow for depth */
}

#list_room > div {
  border-bottom: 1px solid #ccc; /* Adds a line separator between items */
  padding: 10px;
  width: 100%;
}

#list_room p {
  margin: 5px 0; /* Adds spacing around paragraph elements */
  font-size: 16px; /* Adjust font size as needed */
  color: #333; /* Sets text color */
}