.board {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  /* grid-gap: 1px; */
  margin: auto; /* Center the grid horizontally and vertically */
  background-color: black;
  border: 0.5px solid black;
  width: fit-content;
}

.cell {
  background-color: #deb887; /* A beige-like color */
  /* border: 0.5px solid black; */
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.cell {
  position: relative;
  z-index: 10;
}

.cell::before,
.cell::after {
  content: "";
  position: absolute;
  background-color: black; /* You can change the color as needed */
  z-index: 1;
}

/* Horizontal line */
.cell::before {
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  z-index: 1;
}

/* Vertical line */
.cell::after {
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  z-index: 1;
}

/* Adjustments for better visibility */
.cell:hover::before,
.cell:hover::after {
  background-color: red; /* Change the hover color as needed */
}

.cell.black::before,
.cell.black::after,
.cell.white::before,
.cell.white::after {
  width: 0;
  height: 0;
}

.black {
  background-image: url(./icon/board/black.png);
  background-size: cover;
  width: 22px;
  height: 22px;
  z-index: 100;
}

.white {
  background-image: url(./icon/board/white.png);
  background-size: cover;
  width: 22px;
  height: 22px;
  z-index: 100;
}

#contain_board {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#back_board {
  width: 331px;
  height: 331px;
  background-color: #deb887;
  border: 5px double black;
  position: absolute;
}
#board {
  position: absolute;
}

#counter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#currentPlayer {
  display: flex;
  justify-content: center;
}

#icon {
  margin-left: 0px;
}
