#mainLogo {
  width: 102px;
  height: 102px;
  background-image: url(./icon/mainPage/mainLogo.png);
  margin-left: 35%;
  margin-top: 50%;
}

#omok {
  margin-left: 41%;
}

button {
  margin-top: 10px;
  margin-left: 9%;
  border: none;
  background: none;
}

.loginBtn {
  width: 300px;
  height: 48px;
}

#google {
  margin-top: 50px;
  background-image: url(./icon/mainPage/googleLoginBtn.png);
}

#kakao {
  background-image: url(./icon/mainPage/kakaoLoginBtn.png);
}

#guest {
  background-image: url(./icon/mainPage/guestLoginBtn.png);
}
