#betting {
  margin-top: 30px;
  height: 240px;
}

#betting-text {
  width: 360px;
  height: 50px;
  font-size: larger;
  font-weight: bolder;
  margin-bottom: 30px;
  padding-left: 10px;
  /* text-align: center; */
  line-height: 50px;
  background-color: #f4f4f4;
  box-shadow: 0px 0px 3px gray;
}

#coin {
  width: 300px;
  height: 70px;
  border-radius: 30px;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
  line-height: 70px;
  font-size: 30px;
  font-weight: bolder;
  background-color: #ffefd0;
}

#minus {
  background-color: skyblue;
  width: 100px;
  height: 40px;
  color: blue;
  border-radius: 10px;
  font-size: larger;
  margin-left: 56px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px lightgray;
}

#plus {
  background-color: pink;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-size: larger;
  color: red;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px lightgray;
}

#invitation-text {
  width: 360px;
  height: 50px;
  padding-left: 10px;
  font-size: larger;
  font-weight: bolder;
  line-height: 50px;
  background-color: #f4f4f4;
  box-shadow: 0px 0px 3px gray;
}

#generatebutton {
  width: 300px;
  height: 50px;
  margin-left: 30px;
  border-radius: 10px;
  font-size: larger;
  font-weight: bolder;
  background-color: #fce444;
  box-shadow: 2px 2px 2px 2px lightgray;
  cursor: pointer;
}

#startbutton {
  width: 300px;
  height: 50px;
  margin-left: 30px;
  border-radius: 10px;
  font-size: larger;
  font-weight: bolder;
  background-color: #fce444;
  box-shadow: 2px 2px 2px 2px lightgray;
  cursor: pointer;
}

#searchbutton {
  width: 300px;
  height: 50px;
  margin-left: 30px;
  border-radius: 10px;
  font-size: larger;
  font-weight: bolder;
  background-color: #fce444;
  box-shadow: 2px 2px 2px 2px lightgray;
  cursor: pointer;
}

#enter-code {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-left: 10px;
  border: 0.5px solid gray;
  width: 300px;
  height: 40px;
  color: gray;
  margin-left: 30px;
  border-radius: 5px;
}

#explaination {
  margin-top: 10px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  color: grey;
}
