button {
  background-color: blue;
}

#timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 150%;
}

.redText {
  color: red;
}

.normalText {
  color: black;
}
