body {
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

.screen {
  width: 360px;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

@media (max-width: 360px) {
  .container {
    flex-direction: column;
  }
}
.container {
  display: flex;
  justify-content: space-between;
}
